<html>
  <body>
    <p>Clip {{clipName}}</p>
    <form action="/command" method="POST">
        <input type="submit" name="b" value="sb" />
        <input type="submit" name="f" value="sf" />
        <input type="submit" name="k" value="<" />
        <input type="submit" name="p" value=">" />
        <input type="submit" name="s" value="siz" />
    </form>
    {% if mySize==0 %}
       <img src="{{ url_for('picture_feed') }}" style="width:427px;height:240px">
    {% endif %}
    {% if mySize==1 %}
       <img src="{{ url_for('picture_feed') }}" style="width:853px;height:480px">
    {% endif %}
    {% if mySize==2 %}
       <img src="{{ url_for('picture_feed') }}" style="width:1280px;height:720px">
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>

